<% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>

<% @users.each do |user| %>
  <p><%= user.uid %>
  <%= link_to '削除', "/users/#{user.id}", method: :delete %></p>
<% end %>

<p><%= link_to '新規登録', '/users/new' %></p>
<p><%= link_to '戻る', :back %></p>
<p><%= link_to 'メインページ', root_path %></p>